<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<div sec:authorize="hasAnyRole('ADMIN','USER')">
    <h2>Update User</h2>
    <br>
    <form th:method="PATCH" th:action="@{update/u/}" th:object="${userToUpdate}">
        <label for="id"></label>
        <input type="hidden" th:field="*{id}" id="id">
        <label for="username"></label>
        <input type="hidden" th:field="*{username}" id="username">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <br>
        <br>
        <label for="lastName">Last Name</label>
        <input type="text" th:field="*{lastname}" id="lastName">
        <br>
        <br>
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email">
        <br>
        <br>
        <label for="pass">Password</label>
        <input type="text" th:field="*{password}" id="pass">
        <br>
        <br>
        <label for="admin">Admin</label>
        <input type="checkbox" th:name="role" th:value="${adminRole.getAuthority()}" id="admin"/>
        <br>
        <br>
        <label for="user">User</label>
        <input type="checkbox" th:name="role" th:value="${userRole.getAuthority()}" id="user"/>
        <br>
        <br>
        <input type="submit" value="Update new User"/>
        <br>
        <br>
        <a th:href="@{/logout}">Logout</a>
    </form>
</div>
</body>
</html>