<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<div sec:authorize="hasAnyRole('ADMIN','USER')">
    <h2>Update User</h2>
    <br>
    <form th:method="PATCH" th:action="@{/user/update/u/}" th:object="${userInfo}">
        <label for="id">ID</label>
        <input type="hidden" th:field="*{id}" id="id">
        <br>
        <br>
        <label for="usrname">Username</label>
        <input type="hidden" th:field="*{username}" id="usrname">
        <br>
        <br>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">

        <br>
        <br>

        <label for="lastName">Last Name</label>
        <input type="text" th:field="*{lastname}" id="lastName">

        <br>
        <br>

        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email">
        <br>
        <br>
        <label for="pass">Password</label>
        <input type="text" th:field="*{password}" id="pass">
        <br>
        <br>
        <label for="r">Roles</label>
        <input type="hidden" th:field="*{roles}" id="r">
        <br>
        <br>
        <input type="submit" value="Update User"/>
        <br>
        <br>
        <a th:href="@{/logout}">Logout</a>
    </form>
</div>
</body>
</html>