<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Add a new User</title>
</head>
<body>

<h2>Add a new User</h2>
<br>
<div sec:authorize="hasRole('ADMIN')">
<form th:method="POST" th:action="@{/admin/saveUser}" th:object="${user}">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <br>
        <br>
        <label for="lastName2">Last Name</label>
        <input type="text" th:field="*{lastname}" id="lastName2">
        <br>
        <br>
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email">
        <br>
        <br>
        <label for="username">Username</label>
        <input type="text" th:field="*{username}" id="username">
        <br>
        <br>
        <label for="password">Password</label>
        <input type="text" th:field="*{password}" id="password">
        <br>
        <br>
        <button type="submit" th:name="role" th:value="ROLE_USER">Set role USER</button>
        <br>
        <br>
        <button type="submit" th:name="role" th:value="ROLE_ADMIN">Set role ADMIN</button>
        <br>
        <br>
</form>
        <br>
        <br>
        <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>